html, body
{
  background-color: rgb(255, 255, 255);
  font-family: Circular, Helvetica, Arial, sans-serif;
  height: 100%;
}

.navbar-brand
{
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 400;
  position: relative;
  display: flex;
  margin-right: 0px;
}

.navbar-brand:hover
{
  color: rgb(0, 194, 82);
  text-decoration: none;
}

.navbar
{
  background-color: rgb(0, 0, 0);
  display: flex;
}
