.jumbotron
{
  background-color: transparent;
  color: rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 2.5px;
  padding: 5px;
  padding-bottom: 26px;
}

h1
{
  font-weight: 950;
}

.header
{
  padding-bottom: 0px;
  margin-top: 30px;
}

.container
{
  padding-top: 10px;
}

.col-md-4
{
  text-align: center;
}

.icon
{
  color: rgb(0, 245, 104);
  font-size: 1em;
  padding-bottom: 10px;
}

.btn{
    background-color: transparent;
    border: none;
    border-radius: 500px;
    border-style: solid;
    border-color: rgb(97, 100, 103);
    color: rgb(97, 100, 103);
    font-size: 14px;
    font-weight: 700;
    text-decoration-style: solid;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    padding-top: 16px;
    padding-bottom: 18px;
    padding-left: 48px;
    padding-right: 48px;
    transition-duration: 0.3s;
}

.btn:hover
{
    background-color: rgb(97, 100, 103);
    color: rgba(238, 238, 239);
}

.container-footer
{
  padding-top: 30px;
}

.footer
{
  margin-top: 111px;
  display: flex;
}

.footer-default
{
  background: rgb(0, 0, 0);
}

#info
{
  margin-left: 575px;
}

.nav-title
{
  color: rgb(123, 126, 128);
  font-family: inherit;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

a
{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  padding: .1875em 0;
  position: relative;
  margin-bottom: .75em;
  display: inline-block;
}

a:hover
{
  color: rgb(0, 194, 82);
  text-decoration: none;
}

ul
{
  padding-inline-start: 40px;
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
}

li
{
  list-style: none;
}
