body {
  background-color: #008CBA;
}

.container {
    background-color: #FFFFFF;
    position: relative;
    width: 600px;
    height: 600px;
    border: none;
    margin: auto;
}
.button1 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 90px;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.5s;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 15px;
    outline: none;
}
.button1:hover {
    background-color: #006cba;
  }
.button1:active {
  background-color: #006cba;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }
.save_button {
  background-color: #008CBA;
  position: relative;
  width: 600px;
  height: 60px;
  border: none;
  margin: auto;
}
.button2 {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 120px;
  background-color: #FFFFFF;
  border: none;
  color: black;
  padding: 9px 20px;
  text-align: center;
  cursor: pointer;
  transition all: 0.4s;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 15px;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .button2:hover {
      background-color: #006cba;
      color: white;
    }
  .button2:active {
    background-color: #006cba;
    color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }
    .button2 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    .button2 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    .button2:hover span {
      padding-right: 25px;
    }

    .button2:hover span:after {
      opacity: 1;
      right: 0;
    }
#heading {
    position: relative;
    border: none;
    text-decoration: underline #008CBA;
    width: 503px;
    height: 33px;
    resize: none;
    font-size: 28px;
    outline: none;
}
#output {
  position: relative;
  border: none;
  resize: none;
  width: 596px;
  height: 552px;
  font-size: 16px;
  outline: none;
}
